* {
    list-style-type: none;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
}

ul li .face {
    height: 100px;
    background-color: red;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


  
  ul:nth-child(1) li .face {
    background: rgb(168,6,6);
background: linear-gradient(90deg, rgba(168,6,6,1) 0%, rgba(255,53,53,1) 100%);
  }
  
    
  ul:nth-child(2) li .face {
    background: rgb(224,71,0);
background: linear-gradient(90deg, rgba(224,71,0,1) 0%, rgba(255,178,130,1) 100%);
  }
  

    
  ul:nth-child(3) li .face {
    background: rgb(241,162,46);
background: linear-gradient(90deg, rgba(241,162,46,1) 0%, rgba(235,212,105,1) 100%);
  }
  

    
  ul:nth-child(4) li .face {
    background: rgb(255,204,0);
background: linear-gradient(90deg, rgba(255,204,0,1) 0%, rgba(255,246,156,1) 100%);
  }
  

    
  ul:nth-child(5) li .face {
    background: rgb(240,208,83);
background: linear-gradient(90deg, rgba(240,208,83,1) 0%, rgba(255,251,213,1) 100%);
  }
  

  ul:nth-child(1) .face .eyes {
    width: 70px;
    height: 15px;
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: space-between;
  }

  ul:nth-child(2) .face .eyes {
    width: 70px;
    height: 15px;
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: space-between;
  }

  ul:nth-child(3) .face .eyes {
    width: 70px;
    height: 15px;
    position: absolute;
    top: 60px;
    display: flex;
    justify-content: space-between;
  }

  ul:nth-child(4) .face .eyes {
    width: 70px;
    height: 15px;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: space-between;
  }

  ul:nth-child(5) .face .eyes {
    width: 70px;
    height: 15px;
    position: absolute;
    top: 45px;
    display: flex;
    justify-content: space-between;
  }

  ul  .face .eyes span {
    height: 100%;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    animation: animEyes infinite 4s ease;
  }


  ul:nth-child(1) .face .mouse svg {
    margin-top: 60px;
    height: 100px;
    transform: rotate(0.5turn);

  }


  
  ul:nth-child(2) .face .mouse svg {
    margin-top: 50px;
    height: 100px;
    transform: rotate(0.5turn);

  }


  ul:nth-child(3) .face .mouse {
    height: 20px;
    width: 60px;
    position: absolute;
    top: 63px;
    border-bottom: 5px black solid;
  }

  ul:nth-child(4) .face .mouse {
    position: absolute;
    top: 1px;
  }

  ul:nth-child(4) .face .mouse svg {
    height: 100px;


  }



  ul:nth-child(5) .face .mouse {
    position: absolute;
    top: 5px;
  }

  ul:nth-child(5) .face .mouse svg {
    height: 100px;


  }

  @keyframes animEyes  {
    0% {
        transform: scaleY(1);
    }

    5% {
        transform: scaleY(0);
    }

    10% {
        transform: scaleY(1);
    }
  }
